html {
  box-sizing: border-box;
  font-size: 1rem;
}
body {
  margin: 0 0 2rem;
  background-color: grey;
}

.column-one {
  left: 0;
  bottom: 0;
  overflow: auto;
  border: solid red;
  position: fixed;
  max-width: 25%;
  margin: 2rem;
}

.avatar {
  max-width: 50%;
  float: left;
}

.image {
  width: 100%;
}
.health {
  float: left;
}

.health-text {
  color: white;
}

.health-bars {
  color: white;
}

.column-two {
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 10%;
  margin: 2rem;
}

.weapon {
background: blue;

}

.move-icons {

}

.move-key {

}

.weapon-ammo {

}

.weapon-text {

}

.column-three {
  margin: auto;
  top: 35%;
  left: 50%;*
  display: block;
  max-width: 7%;
  position: fixed;
  transform: translate(-50% -50%);
  background: blue;
}

.skull {

}
.column-four {
  background: green;
  font-style: italic;
  margin: auto;
  top: 60%;
  left: 45%;
  display: block;
  max-width: 20%;
  position: fixed;
  text-transform: uppercase;
}
.eliminated {
  color: white;
  float: left;
}

strong {
  color: red;
}

.move-status {

}
